{% extends "views/forms.html" %}
{% load bootstrap %}


{% block title_page %}
    <h3 class="mb-0">Novo Palet</h3>
{% endblock title_page %}

{% block form_body %}
    <form method="post" id="form" action="{% url 'criarPalet' %}">
        {% csrf_token %}
        {{form | bootstrap}}
        <button class="btn btn-primary float-right" type="submit">Salvar</button>
    </form>
{% endblock form_body %}

{% block js %}
    <script>
        $('#form').submit((e) => {
            e.preventDefault();
           let quantidadeItens = $('#id_quantidadeItens').val();
           let infomacoesTipoCaixa = $('#id_tipoCaixa option:selected').text()
            infomacoesTipoCaixa = infomacoesTipoCaixa.split(' - ');


           if (infomacoesTipoCaixa[0] != "Palet"){
               alert('O tipo de caixa selecionada é incompatível com o produto.');
           }
           else if (quantidadeItens > parseInt(infomacoesTipoCaixa[2])){
                alert('A quantidade de produtos cadastrados é maior que a quantidade suportada pelo palet');
           }else {
               document.getElementById("form").submit();
           }

        });

    </script>
{% endblock %}
