{% extends 'base.html' %}

{% block main %}
    <div class="col-12">
        <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">{{ page_name }}</h3>
{#                    <a class="btn btn-primary float-right" href="{% url 'paleteiraCreate' idRua=idRua %}"><i class="fa fa-plus-circle"></i> Nova Paleteira</a>#}
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Código da movimentação</th>
                    <th scope="col">Pallet</th>
                    <th scope="col">Quantidade de unidades</th>
                    <th scope="col">Tipo de movimentação</th>
                  </tr>
                </thead>
                <tbody>
                  {% for mov in movimentacoes %}
                      <tr>
                        <th scope="row">
                            {{ mov.id }}
                        </th>
                        <td>
                            {{ mov.pallet_id.cd_barras }}
                        </td>
                          <td>
                              {{ mov.qt_unidade }}
                        </td>
                          <td>
                              {{ mov.tp_movimentacao }}
                        </td>
                      </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>
        </div>
    </div>
{% endblock %}