{% extends 'base.html' %}

{% block main %}
    <div class="col-12">
        <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Palets Armazenados</h3>
                    <a class="btn btn-primary float-right" href="{% url 'entradaPaletSetor' %}"><i class="fa fa-plus-circle"></i> Armazenar Palet</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Nome</th>
                      <th scope="col">Data de Alocação</th>
                    <th scope="col">Opções</th>
                  </tr>
                </thead>
                <tbody>
                  {% for element in list %}
                      <tr>
                        <th scope="row">
                            {{ element.palet.codigoBarras }}
                        </th>
                          <td>
                                {{ element.dataInicoAlocacao }}
                          </td>
                        <td>
                           <div>
                                <a class="btn btn-warning float-left " href=""><i class="fa fa-sign-out fa-1x text-white"></i></a>
                            </div>
                        </td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
    </div>
{% endblock %}