{% extends 'base.html' %}

{% block main %}
    <div class="col-12">
        <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Checagem Nota Fiscal ({{ nota.numero }}) </h3>
{#                  <a class="btn btn-primary float-right" href="{% url 'criarNotaFisca' %}"><i class="fa fa-plus-circle" aria-hidden="true"></i> Nova Nota Fiscal</a>#}
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Produto</th>
                    <th scope="col">Pallet</th>
                    <th scope="col">Paleteira</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Confirmação</th>
                  </tr>
                </thead>
                <tbody>
                  {% for element in produtos %}
                      <tr id="produto-quantidade{{ element.id }}">
                          <td>{{ element.produto.codigoBarras }} - {{ element.produto.nome }}</td>
                          <td>
                              {% for p in element.pallets %}
                                  {{ p.codigoBarras }}
                              {% endfor %}
                          </td>
                          <td>
                              {% for p in element.pallets %}
                                  {{ p.paleteria }}
                              {% endfor %}
                          </td>
                          <td> {{ element.quantidade }} </td>
                          <td><input class="prod-quant" id-prod-quant="{{ element.id }}" type="checkbox" data-toggle="toggle" data-on="Confirmado" data-off="Confirmar?" data-onstyle="success" data-style="ios"></td>
                      </tr>
                  {% endfor %}

                </tbody>
              </table>
            <button class="btn btn-primary mf-3 mb-3 mr-3 mt-3 float-right" onclick="confirmarNotaFiscalSaida()"> Confirmar Nota Fiscal</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function confirmarNotaFiscalSaida(){

        }
    </script>
{% endblock %}
