{% extends "views/forms.html" %}
{% load static %}
{% load bootstrap %}

    {% block header %}
        <div class="header-body text-center mb-3">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
                <img src="{% static 'assets/img/brand/logo.png' %}" width="100px">
              <h1 class="text-white">Bom Leite <br> Sistema de Gestão de Estoque</h1>
            </div>
          </div>
        </div>
    {% endblock %}




{% block title_page %}
    <h3 class="mb-0">Entrada de Pallet</h3>
    <a class="btn btn-primary float-right" href="{% url 'saidaPaletList' %}"><i class="fa fa-arrow-circle-o-right"></i> Saída</a>
{% endblock title_page %}

{% block form_body %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
    <form method="post" id="form" action="{% url 'home' %}">
        {% csrf_token %}
        {{form | bootstrap}}
        <button class="btn btn-primary float-right" type="submit">Salvar</button>
    </form>
{% endblock form_body %}

