{% extends "views/forms.html" %}
{% load bootstrap %}


{% block title_page %}
    <h3 class="mb-0">Nova Caixa</h3>
{% endblock title_page %}

{% block form_body %}
    <form method="post" action="{% url 'criarCaixa' %}">
        {% csrf_token %}
        {{form | bootstrap}}
        <button class="btn btn-primary float-right" type="submit">Salvar</button>
    </form>
{% endblock form_body %}

{% block js %}
<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
<script>
    $(document).ready(() => {
       let divInput = $("#id_codigoBarras").parent();
       let inputCodigoBarras = $("#id_codigoBarras");
       $(divInput).addClass("input-group");
       $(divInput).append(`
            <div class="input-group-append">
                <button class="btn btn-primary lerCodigo" type="button" data-toggle="modal" data-target="#livestream_scanner"><i class="fa fa-qrcode"></i></button>
            </div>`);

       let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
       $(".lerCodigo").click(() => {
           scanner.addListener('scan', function (content) {
                $(inputCodigoBarras).val(content);
                scanner.stop();
                $("#livestream_scanner").modal("hide")
           });
           Instascan.Camera.getCameras().then(function (cameras) {
                if (cameras.length > 0) {
                    scanner.start(cameras[0]);
                } else {
                    alert('Não há câmeras disponíveis.');
                }
            }).catch(function (e) {
                console.error(e);
            });
       });

        $('#livestream_scanner').on('hidden.bs.modal', function (e) {
            scanner.stop();
        });
    });
</script>

<style>
	#preview {position: relative; width: 100%; height: auto; overflow: hidden; text-align: center;}
	#preview > canvas, #interactive.viewport > video {max-width: 100%;width: 100%;}
	canvas.drawing, canvas.drawingBuffer {position: absolute; left: 0; top: 0;}
</style>
<script type="text/javascript">

</script>
{% endblock %}