{% extends 'base.html' %}

{% block main %}
    <div class="col-12">
        <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-3">({{ produto.nm_produto }} - {{ produto.cd_barras }})<br>Selecione um bloco:</h3>
{#                    <a class="btn btn-primary float-right" href="{% url 'produtoCreate' %}"><i class="fa fa-plus-circle"></i> Novo Produto</a>#}
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 mb-3 ">
                <input class="form-control" id="myInputFilter" type="text" placeholder="Filtro..">
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Localização</th>
                    <th scope="col">Opções</th>
                  </tr>
                </thead>
                <tbody id="tableProduto">
                  {% for bloco in blocos_list %}
                      <tr>
                          <th scope="row">
                            Rua: {{ bloco.paleteira_id.rua_id.nm_rua }}<br>
                            Paleteira: {{ bloco.paleteira_id.nr_paleteira }}<br>
                            Bloco: {{ bloco.cd_bloco }} - {{ bloco.cd_barras }}<br>
                            Quantidade de Fileiras: {{ bloco.qt_fileiras_pallet }} <br>
                        </th>
                        <td>
                            <div>
                                <a class="btn btn-warning float-left" href="{% url 'entradaFinalizacao' idProduto=produto.id idBloco=bloco.id %}">Selecionar</a>
                            </div>
                        </td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
      $("#myInputFilter").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#tableProduto tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>
{% endblock %}