{% extends 'base.html' %}

{% block main %}
    <div class="col-12">
        <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0"> Setor - {{ setor.nomeSetor }}</h3>
                    <a class="btn btn-primary float-right" href="{% url 'criarSetorLocalizacao' id=setor.id %}"><i class="fa fa-plus-circle"></i> Gerar Localização</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Secção</th>
                    <th scope="col">Plateleira</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for element in list %}
                      <tr>
                        <td>
                            {{ element.coluna }}
                        </td>
                          <td>
                            {{ element.linha }}
                        </td>
                          <td>
                            None
                        </td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
    </div>
{% endblock %}